@import './variables';

.more-services {
    .container {
        .head {
            h2 {
                font-family: $Font-Family;
                font-size: $Header-FontSize;
                font-weight: $Header-FontWeight;
                color: $Header-Color;
            }

            p {
                font-family: $Font-Family;
                font-size: $P-FontSize;
                font-weight: $P-FontWeight;
                color: $P-Color;
            }
        }

        .service-cards { // Fixed the typo here from `.service-careds` to `.service-cards`
            .service-card {
                border-radius: 10px; // Reduced border radius
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Added shadow effect
                overflow: hidden; // To ensure the shadow looks good with rounded corners
                
                .card-content {
                    padding: 0 1.2rem;
                    h3 {
                        color: $Header-Color;
                        font-size: $Main-FontSize;
                        font-weight: $Main-FontWeight;
                    }

                    p {
                        padding: 0 1.2rem;
                        color: $P-Color;
                        font-size: $P-FontSize;
                        font-weight: $P-FontWeight;
                    }
                }
            }
        }
    }
}