// Colors for background and Text

$Header-Color: #384f4b;
$Main-Color: #1bbca3;
$Secondary-Color: #fff;
$P-Color: #444444;
$Background-Color: #0e1a18;

// Font family

$Font-Family: "Poppins", sans-serif;


// Font size

$Header-FontSize: 2rem;
$Main-FontSize: 1.5rem;
$P-FontSize: 1rem;

// Font weight

$Header-FontWeight: 800;
$Main-FontWeight: 600;
$P-FontWeight: 400;
